<html ng-app="rcDimple">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RC Dimple | Welcome</title>

</head>

<body ng-controller="MainController">
    <select id="measure" class="form-control" ng-options="o.key as o.value for o in ChartTypes" ng-model="ChartType">
        <option style="display: none" value="">-- Select Measure --</option>
    </select>
    <input type="button" ng-click="Change()" value="click" />


    <div id="chartContainer2" style="height: 100%">
        <rc-chart data="data" chart-properties="options" chart-type="{{ChartType}}" series="{{seriesValue}}" category="Month" y2="Sales Value" y="Unit Sales" z="Operating Profit">
        </rc-chart>
    </div>

    <!--
  <div id="chartContainer1" style="height: 50%">
    <chart data="data">
        <y type="category" field="Month"></y>
        <y type="category" field="Month"></y>
        <x type="measure" field="Unit Sales"></x>
        <legend enable-click="true" field="Channel"></legend>
        <bar field="Channel"></bar>
    </chart>
</div>
-->




</body>

<!--Angularjs libraries
=================================================== -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
<script src="lib/angular.min.js"></script>

<!--charting libraries
=================================================== -->
<script src="lib/d3.v3.4.8.min.js" charset="utf-8"></script>
<script src="lib/dimple.latest.min.js" charset="utf-8"></script>

<!-- User defined Angular scripts
=================================================== -->
<!--startUps-->
<script src="script/dependencies/d3.module.js"></script>
<script src="script/dependencies/dimple.module.js"></script>
<script src="script/app.js"></script>

<!--constants-->
<script src="script/constants/enums.js"></script>

<!--factories-->
<script src="script/factory/chartProperties.js"></script>

<!--services-->
<script src="script/services/propertiesService.js"></script>

<!--directive-->

<script src="script/directives/baseDirectives/chart.js"></script>
<script src="script/directives/baseDirectives/xaxis.js"></script>
<script src="script/directives/baseDirectives/yaxis.js"></script>
<script src="script/directives/baseDirectives/zaxis.js"></script>
<script src="script/directives/baseDirectives/legend.js"></script>
<script src="script/directives/baseDirectives/line.js"></script>
<script src="script/directives/baseDirectives/bar.js"></script>
<script src="script/directives/baseDirectives/bubble.js"></script>
<script src="script/directives/baseDirectives/area.js"></script>


<script src="script/directives/chartDirectives/rcChart.js"></script>

<!--controllers-->
<script src="script/controllers/maincontroller.js"></script>

</html>
